<div class="landing">
    <div class="inner">
    	{{#with landingPage.0.fields}}
      <h1 id="title">{{headline}}</h1>
      <p>{{intro}}</p>
      <a class="main-btn view-work-btn" href="#">View Work</a>
      {{/with}}
    </div>
  </div>

  <div class="section work">

    <div class="heading" data-aos="fade-up">
      <h2>{{landingPage.0.fields.workHeadline}}</h2>
      {{#if landingPage.0.fields.workDescription}}
      <p>{{landingPage.0.fields.workDescription}}</p>
      {{/if}}
    </div>

    <div class="grid-container">
    	{{#each projects}}
        <div class="work-item" data-aos="fade-up-right" data-aos-duration="400" data-aos-delay="{{multiply @index 100}}">
          <a href="#">
            <div class="inner">
              <figure>
                <img src="{{fields.thumbnail.fields.file.url}}" alt="{{fields.title}}">
              </figure>
              <div class="text-inner">
                <h4>{{fields.client}}</h4>
                <h3>{{fields.title}}</h3>
                <p>{{fields.shortDescription}}</p>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
  
  <div class="section experience">
   <div class="heading aos-init aos-animate" data-aos="fade-up">
      <h2>{{landingPage.0.fields.experienceHeadline}}</h2>
      {{#if landingPage.0.fields.experienceDescription}}
      <p>{{landingPage.0.fields.experienceDescription}}</p>
      {{/if}}
   </div>
   <ul class="logos">
      <li data-aos="fade-up" data-aos-duration="400" data-aos-delay="0"><img src="./images/logo-bloomingdales.png" alt="Blooomingdale's"></li>
      <li data-aos="fade-up" data-aos-duration="400" data-aos-delay="100"><img src="./images/logo-canon.png" alt="Canon"></li>
      <li data-aos="fade-up" data-aos-duration="400" data-aos-delay="200"><img src="./images/logo-hp.png" alt="HP"></li>
      <li data-aos="fade-up" data-aos-duration="400" data-aos-delay="300"><img src="./images/logo-nba.png" alt="NBA"></li>
      <li class="hide-for-small" data-aos="fade-up" data-aos-duration="400" data-aos-delay="400"><img src="./images/logo-ralph-lauren.png" alt="Ralph Lauren"></li>
      <li class="hide-for-small" data-aos="fade-up" data-aos-duration="400" data-aos-delay="500"><img src="./images/logo-avon.png" alt="Avon"></li>
   </ul>
    <div class="inner">
     <a data-aos="fade-up" class="main-btn" data-aos-duration="400" data-aos-delay="400" href="https://www.linkedin.com/in/brianholden/">LinkedIn Profile</a>
    </div>
</div>
  

  <div class="section skills">
   <div class="heading aos-init aos-animate" data-aos="fade-up">
      <h2>{{landingPage.0.fields.skillsHeadline}}</h2>
      {{#if landingPage.0.fields.skillsDescription}}
      <p>{{landingPage.0.fields.skillsDescription}}</p>
      {{/if}}
   </div>
   <ul class="skill-list">
   	{{#each skills.0.fields.skills}}
     <li data-aos="fade-up" data-aos-duration="600" class="aos-init aos-animate">
         <div class="inner">{{this}}</div>
      </li>
     {{/each}}
   </ul>
</div>


  <div class="section contact">

    <div class="heading" data-aos="fade-up" data-aos-duration="600">
      <h2>{{landingPage.0.fields.connectHeadline}}</h2>
      {{#if landingPage.0.fields.connectDescription}}
      <p id="contact-message">{{landingPage.0.fields.connectDescription}}</p>
      {{/if}}
    </div>

    <form id="contact-form" method="post" action="/" data-aos="fade-up" data-aos-duration="600">
      <div class="form"  data-aos="fade-up" data-aos-duration="600">
        <div class="row-2">
          <input class="input-field" type="text" id="fname" name="fname" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
          
           <input class="email" type="text" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
        </div>

        <textarea name="message" id="message" rows="30" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></textarea>

        <input type="submit" class="button" value="Send">
        </div>
    </form>
  </div>
</div>


<div class="overlay">
  <div class="inner">
    <div class="close-btn">X</div>
    <div class="content">

    	{{#each projects}}
    	{{#with fields}}
    	<div class="overlay-outer" data-index="{{@index}}">
	      <div class="overlay-header">
	        <h3 id="overlay-brand">{{client}}</h3>
	        <h2 id="overlay-name">{{title}}</h2>
	        <p id="overlay-desc">{{longDescription}}</p>
	      </div>
	      <div class="work-container">
	        {{#each work}}
	        <div class="overlay-item">
		        <img data-src="{{fields.file.url}}" alt="{{../title}}" />
		      </div>
		      {{/each}}

		      {{#if link}}
		      <a class="main-btn" href="{{link}}">Launch Project</a>
		      {{/if}}
	      </div>
	    </div>
      {{/with}}
      {{/each}}
    </div>
  </div>
  <div class="bg"></div>
</div>